charon.yml
charon
.charon/cluster/
manifest.json
cluster_definition.json
cluster_lock.json
p2pkey
keystore*
prater
.env
.data
beaconnode.env.old
split_keys/
bootnode/charon-enr-private-key
.idea/
data/
nethermind/nethermind_db/