version: "3.8"

x-node-base: &node-base
  image: ghcr.io/obolnetwork/charon/charon:latest # TODO(corver): Use pegged version
  entrypoint: "${COMPOSE_ENTRYPOINT:-}"
  command: run
  env_file: [ charon.env ]
  networks: [cluster]
  volumes:
    - .:/charon

services:
  node0:
    <<: *node-base
    environment:
      CHARON_DATA_DIR: /charon/node0
      CHARON_JAEGER_SERVICE: node0
      CHARON_P2P_EXTERNAL_HOST: node0
      CHARON_SIMNET_VALIDATOR_MOCK: "false" # Uses Lighthouse VC
    ports:
      - "16002:16002"

  node1:
    <<: *node-base
    environment:
      CHARON_DATA_DIR: /charon/node1
      CHARON_JAEGER_SERVICE: node1
      CHARON_P2P_EXTERNAL_HOST: node1
      CHARON_SIMNET_VALIDATOR_MOCK: "false" # Uses Teku VC

  node2:
    <<: *node-base
    environment:
      CHARON_DATA_DIR: /charon/node2
      CHARON_JAEGER_SERVICE: node2
      CHARON_P2P_EXTERNAL_HOST: node2

  node3:
    <<: *node-base
    environment:
      CHARON_DATA_DIR: /charon/node3
      CHARON_JAEGER_SERVICE: node3
      CHARON_P2P_EXTERNAL_HOST: node3

  bootnode:
    <<: *node-base
    command: bootnode
    environment:
      CHARON_BOOTNODE_HTTP_ADDRESS: 0.0.0.0:16000
      CHARON_DATA_DIR: /charon/bootnode
      CHARON_P2P_BOOTNODES: ""
      CHARON_P2P_EXTERNAL_HOST: bootnode

  vc0-lh:
    build: lighthouse
    networks: [cluster]
    environment:
      NODE: node0
    volumes:
     - .:/charon

  vc1-teku:
    image: consensys/teku:latest
    networks: [cluster]
    entrypoint: [/charon/teku/run.sh]
    environment:
      NODE: node1
    volumes:
     - .:/charon

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    networks: [cluster]
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks: [cluster]
    volumes:
      - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
      - ./grafana/dashboards.yml:/etc/grafana/provisioning/dashboards/datasource.yml
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ./grafana/simnet_dash.json:/etc/dashboards/simnet_dash.json

  jaeger:
    image: jaegertracing/all-in-one:latest
    networks: [cluster]
    ports:
      - "16686:16686"

networks:
  cluster:
